#box-principles {
  @extend .--bg__bg-green;
  background-size: cover;
  background-repeat: no-repeat;
}

.box-principles__main {
  color: $white;
  padding-top: 69px;

  h2 {
    display: block;
    text-align: center;
    margin-top: 0;

    i {
      background-image: url(../../public/images/logo-white.svg);
      background-size: 150px;
      background-repeat: no-repeat;
      display: block;
      height: 90px;
      margin: 0 auto;
      text-indent: -900em;
      width: 35px;
    }

    span {
      @extend .--font__bai-jamjuree;
      display: inline-block;
      font-size: 2.6rem;
      font-weight: 400;
      margin-top: 20px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin: 40px 110px 70px;
  }

  li {
    display: flex;
    flex-direction: column;
    width: 250px;

    span {
      @extend .--font__iria-sans;
      font-family: Inria Sans;
      font-size: 4em;
      font-weight: 400;
    }
  }

  h3 {
    @extend .--font__bai-jamjuree;
    font-size: 2.65em;
    font-weight: 400;
    margin: 15px 0 0;
  }

  p {
    max-width: 230px;
    font-size: 1.11rem;
  }

  button {
    @extend .--button__green-01;
    margin-top: auto;
    padding: 5px 30px;
    width: fit-content;
    display: inline-block;
  }
}
