#box-consultancy {
  background-image: url(../../public/images/bg-consultancy.png);
  background-repeat: no-repeat;
  background-position-y: -2px;
  background-size: cover;
  min-height: 740px;
}

.box-consultancy__main {
  margin-left: 120px;
  margin-top: 180px;
  width: 493px;

  h4 {
    @extend .--font__bai-jamjuree;
    font-size: 2.6rem;
    font-weight: 300;
    margin-bottom: 30px;

    span {
      display: inline-block;
      margin-top: 25px;
    }

    strong {
      font-family: inherit;
    }
  }

  p {
    font-size: 1.1rem;
    max-width: 300px;
  }

  hr {
    @extend .--hr-01;
  }
}

.box-consultancy__frm {
  margin-left: 120px;
  margin-top: 30px;

  .frm-row {
    display: flex;
    flex-wrap: wrap;
  }

  .textfield {
    margin-right: 10px;
  }

  label {
    display: block;

    em {
      color: $green-01;
      font-size: 1.3rem;
    }
  }

  input[type="text"] {
    border-radius: 0;
    border: 1px solid $grey-04;
    margin-top: 5px;
    padding: 8px 10px;
    width: 230px;

    &::-webkit-input-placeholder {
      padding-left: 30px;
    }

    &:-ms-input-placeholder {
      padding-left: 30px;
    }

    &::placeholder {
      padding-left: 30px;
      color: $grey-02;
    }
  }

  button {
    @extend .--button__green-01;
    font-size: 1.4rem;
    padding: 7px 35px;
  }
}
