html,
body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin: 0;

  @media screen and (min-width: 768px) {
  }
}

* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

p {
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

span {
  font-family: inherit;
}

.mg-lef-10 {
  margin-left: 10px;
}
.mg-lef-20 {
  margin-left: 20px;
}
.mg-lef-30 {
  margin-left: 30px;
}

// Only Desktop

@media screen and (min-width: 768px) {
  .mrg-desk-top-10 {
    margin-top: 10px;
  }
  .mrg-desk-top-20 {
    margin-top: 20px;
  }
  .mrg-desk-top-30 {
    margin-top: 30px;
  }
  .mrg-desk-top-40 {
    margin-top: 40px;
  }
  .mrg-desk-top-50 {
    margin-top: 50px;
  }
  .mrg-desk-top-60 {
    margin-top: 60px;
  }
  .mrg-desk-top-90 {
    margin-top: 90px;
  }
  .mrg-desk-top-120 {
    margin-top: 120px;
  }

  .pd-desk-top-10 {
    padding-top: 10px;
  }
  .pd-desk-top-20 {
    padding-top: 20px;
  }
  .pd-desk-top-30 {
    padding-top: 30px;
  }
  .pd-desk-top-40 {
    padding-top: 40px;
  }
  .pd-desk-top-50 {
    padding-top: 50px;
  }
  .pd-desk-top-60 {
    padding-top: 60px;
  }
  .pd-desk-top-90 {
    padding-top: 90px;
  }
  .pd-desk-top-120 {
    padding-top: 120px;
  }

  .txt-desk-right {
    text-align: right;
  }

  .max-width {
    max-width: 1230px;
  }
}

// Only Mobile

@media screen and (max-width: 768px) {
  .mrg-mob-top-10 {
    margin-top: 10px;
  }
  .mrg-mob-top-20 {
    margin-top: 20px;
  }
  .mrg-mob-top-30 {
    margin-top: 30px;
  }
  .mrg-mob-top-40 {
    margin-top: 40px;
  }
  .mrg-mob-top-50 {
    margin-top: 50px;
  }
  .mrg-mob-top-60 {
    margin-top: 60px;
  }
  .mrg-mob-top-90 {
    margin-top: 90px;
  }

  .mrg-mob-bot-50 {
    margin-bottom: 50px;
  }
  .mrg-mob-bot-60 {
    margin-bottom: 60px;
  }
  .mrg-mob-bot-100 {
    margin-bottom: 100px;
  }
}

// General Icons

.--default-icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 22.5px;
  margin-right: 8px;
  width: 15px;
}
.icon-location {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_address.svg);
}
.icon-mail {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_mail.svg);
  height: 15px;
  width: 20px;
}
.icon-phone {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_phone.svg);
  height: 17px;
  margin-right: 2px;
  width: 20px;
}
.icon-abordagem {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_abordagem-inovadora.svg);
  height: 17px;
  margin-right: 2px;
  width: 20px;
}
.icon-especialistas {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_especialistas.svg);
  height: 17px;
  margin-right: 2px;
  width: 20px;
}
.icon-suporte {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_suporte-cliente.svg);
  height: 17px;
  margin-right: 2px;
  width: 20px;
}
.icon-taxas {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_sem-taxas.svg);
  height: 17px;
  margin-right: 2px;
  width: 20px;
}
.icon-servicos {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_servicos.svg);
  height: 17px;
  margin-right: 2px;
  width: 20px;
}
.icon-equipe {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_equipe.svg);
  height: 50px;
  width: 50px;
}
.icon-experiencia {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_experiencia.svg);
  height: 50px;
  width: 50px;
}
.icon-suporte2 {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_suporte.svg);
  height: 50px;
  width: 50px;
}
.icon-preco {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_preco.svg);
  height: 50px;
  width: 50px;
}

.icon-copyright {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_copyright.png);
  height: 50px;
  width: 50px;
}
.icon-linkedin {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_linkedin.png);
  height: 50px;
  width: 50px;
}
.icon-instagram {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_instagram.png);
  height: 50px;
  width: 50px;
}
.icon-suporte3 {
  @extend .--default-icon;
  background-image: url(../../public/images/icon_suporte-2.png);
  height: 50px;
  width: 50px;
}

// Fonts

.--font__bai-jamjuree {
  font-family: "Bai Jamjuree", sans-serif;
}

.--font__iria-sans {
  font-family: "Inria Sans", sans-serif;
}

// backgrounds

.--bg__slide-01 {
  background: url("../../public/images/slide-01.gif");
  background-repeat: no-repeat;
}
.--bg__bg-green {
  background-image: url("../../public/images/bg-green.png");
}

// buttons

.--button__green-01 {
  @extend .--font__bai-jamjuree;
  background: linear-gradient(90deg, $green-02, transparent) $green-02;
  border-radius: 5px;
  border-width: 0;
  color: $white;
  cursor: pointer;
  font-size: 1.6rem;
  // transition: background-color 1s;
  transition: all 1s;
  transition-property: background-color, color;

  &:hover {
    background-color: $green-01;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

// hrs
.--hr-01 {
  border: 0.11vw #30a46c solid;
  color: $green-02;
  display: block;
  margin: 20px 0;
  width: 240px;
}
