// #header {
/* **************************
  HEADER LINKS
  ************************** */

div.header-links {
  background-color: $dark-01;
  color: $white;

  section {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 600;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
  }

  a,
  p {
    display: flex;
    align-items: center;
  }

  a {
    color: $white;
    font-weight: 500;

    &:last-child {
      margin-right: 55px;
    }
  }

  p {
    margin: 0;
  }

  span {
    letter-spacing: 0.1em;
  }
}

/* **************************
  HORIZONTAL MENU
  ************************** */

a.logo {
  display: inline-block;
  width: 210px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.header-menu {
  // @extend .--bg__slide-01;
  position: relative;
  // display: flex;
  // justify-content: space-around;

  .bg {
    backdrop-filter: blur(15px);
    height: 125px;
    padding-top: 20px;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .header-menu__main {
    display: flex;
    height: 125px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    justify-content: center;
    z-index: 2;

    ul.menu {
      display: flex;
      align-items: center;
      margin-left: 40px;

      li {
        font-size: 1.3rem;
        margin: 0 23px;

        a {
          color: $dark-01;
          display: inline-block;
          transition: transform 0.3s ease-in-out;
          transform: scale(1);

          &:hover {
            color: $green-02;
            transform: scale(1.1);
          }
        }

        &.active a {
          color: $green-01;
        }
      }
    }

    .nav-buttons {
      align-items: center;
      display: flex;

      button {
        @extend .--button__green-01;
        padding: 6px 32px;
        margin-left: 10px;
        font-size: 1.3rem;
      }
    }
  }
}
// } // end.header
